*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }
body { min-width: 320px; min-height: 100vh; }
button, input, select, textarea { font: inherit; }
button { cursor: pointer; }
img, picture, svg { display: block; max-width: 100%; }
